.register{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    min-height: 80vh;
}

.forms{
    margin: 5rem auto;
    width: 40rem; 
}

@media (max-width: 800px){
    .forms{
        width: 100%;
        padding: 0 .8rem;
    }

    .register{
        padding: none;
    }
}