.divSelect{
    width: 100%;
    height: auto;
}

.divSelect select{
    width: 100%;
    border: none;
    border-bottom: 1.5px solid rgba(148, 148, 153, 0.27);
    padding: 1rem 0;
    font-family: var(--type-first);
}

.divSelect select:hover,
.divSelect select:focus,
.divSelect select:active{
    outline: none;
}

